/*

	Style.css

	01. Basics
	02. Top bar
	03. Home
	04. Intro
	05. Work
	06. Call to action
	07. Services
	08. Process
	09. About
	10. Contact
	11. Footer
	12. 404 Page
	13. Responsive settings

*/


/* ==================== 01. Basics ==================== */
body {

	font-family: "Open Sans","Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	/*font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;*/
	/*font-family: "Open Sans", Arial, sans-serif;*/

	font-size: 13px;

	font-weight: 400;

	line-height: 25px;

	color: #777;

}


.fl{
	float: left;
}

.fr{
	float: right;
}
/* Minified css in demo only */
/*h1,h2,h3,h4,h5,h6{*/
	/*margin-bottom:25px*/
/*}*/

/*.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{*/
	/*font-weight:400;*/
	/*color:#555*/
/*}*/

/*.h1,h1{*/
	/*font-size:36px;*/
	/*line-height:1.5em*/
/*}*/

/*.h2,h2{*/
	/*font-size: 30px;*/
	/*line-height:1.5em*/
/*}*/

/*.h3,h3{*/
	/*font-size: 24px;*/
	/*line-height:1.5em*/
/*}*/

/*.h4,h4{*/
	/*font-size: 16px;*/
	/*line-height:30px*/
/*}*/

/*.h5,h5{*/
	/*font-size:16px;*/
	/*line-height:25px*/
/*}*/

/*.h6,h6{*/
	/*font-size:13px;*/
	/*line-height:25px*/
/*}*/

.bigtext h1,.bigtext h2,.bigtext h3,.bigtext h4,.bigtext h5,.bigtext h6,h1.bigtext,h2.bigtext,h3.bigtext,h4.bigtext,h5.bigtext,h6.bigtext{
	margin-bottom:10px
}

.bigtext h1,h1.bigtext{
	font-size:90px;
	line-height:1em
}
span.bigtexttips{
	text-indent:-9999em;
	font-size: 0;
}
.bigtext h2,h2.bigtext{
	font-size:75px;
	line-height:1em
}

.bigtext h3,h3.bigtext{
	font-size:60px;
	line-height:1em
}

.bigtext h4,h4.bigtext{
	font-size:48px;
	line-height:1.25em
}

.bigtext h5,h5.bigtext{
	font-size:36px;
	line-height:1.25em
}

.bigtext h6,h6.bigtext{
	margin-bottom: 100px;
	font-size:24px;
	line-height:1.5em
}
/*.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}*/

@media only screen and (max-width:768px){
	.bigtext h1,h1.bigtext{
		font-size:60px
	}

	.bigtext h2,h2.bigtext{
		font-size:48px
	}

	.bigtext h3,h3.bigtext{
		font-size:36px
	}

	.bigtext h4,h4.bigtext{
		font-size:30px
	}

	.bigtext h5,h5.bigtext{
		font-size:24px
	}

	.bigtext h6,h6.bigtext{
		font-size:18px;
		margin-bottom: 50px;

	}

}

@media only screen and (max-width:475px){
	.bigtext h1,h1.bigtext{
		font-size:36px
	}

	.bigtext h2,h2.bigtext{
		font-size:30px
	}

	.bigtext h3,h3.bigtext{
		font-size:24px
	}

	.bigtext h4,h4.bigtext{
		font-size:18px;
	}

	.bigtext h5,h5.bigtext{
		font-size:16px
	}

	.bigtext h6,h6.bigtext{
		font-size:14px
	}

}

a{
	color:inherit;
	text-decoration:none
}

a:hover{
	color:#111
}

a,a i,a i:hover,a:hover,button,button:hover,input[type=submit],input[type=submit]:hover{
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

i{
	cursor:default
}

a i{
	cursor:pointer
}

.ol{
	list-style-type:decimal-leading-zero;
	list-style-position:outside;
	margin-left:2em;
	margin-bottom:25px
}

.ol ol,.ul ol{
	list-style-type:decimal-leading-zero;
	list-style-position:outside
}

.ul{
	list-style-type:disc;
	list-style-position:outside;
	margin-left:1em;
	margin-bottom:25px
}

.ol ul,.ul ul{
	list-style-type:disc;
	list-style-position:outside
}

.ol ol,.ol ul,.ul ol,.ul ul{
	margin-left:2em
}

.italic,em{
	font-style:italic
}

.bold,b,strong{
	font-weight:600
}

.thin{
	font-weight:300
}

.x-thin{
	font-weight:100
}

.serif{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:italic;
	font-weight:400;
	letter-spacing:0;
	text-transform:none
}

.uber{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase
}

.text-color{
	color:#ff4800
}

.text-light{
	color:#bbb
}

.text-dark{
	color:#111
}

.text-white{
	color:#fff
}

.dropcap{
	float:left;
	color:#111;
	font-size:50px;
	line-height:50px;
	padding-right:8px;
	padding-left:3px
}

blockquote{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:1.25em;
	padding:25px;
	background:#fafafa;
	border-left:5px solid #eee;
	margin-bottom:25px
}

blockquote small{
	display:block;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:.75em;
	font-weight:400;
	font-style:normal
}

blockquote small:before{
	content:'\2014 \00A0'
}

q{
	quotes:"\"" "\"" """ """
}

q:before{
	content:'\201C'
}

q:after{
	content:'\201D'
}

button,input[type=submit]{
	-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0
}

input[type=submit]{
	border:0;
	width:auto
}

input::-moz-focus-inner{
	border:0;
	padding:0;
	margin-top:5px;
	margin-bottom:5px
}

.btn,button,input[type=submit]{
	display:inline-block;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:25px;
	padding:12px 25px;
	color:#fff;
	background:#111;
	text-decoration:none;
	-webkit-border-radius:0;
	border-radius:0;
}

a .icon:hover,a.btn:hover,button:hover,input[type=submit]:hover{
	color:#fff;
	background:#0FDD7A;
	text-decoration:none
}

a i:hover,button:hover,input[type=submit]:hover{
	cursor:pointer
}

.btn>i{
	font-size:14px;
	margin-right:.5em
}

.btn.outline{
	color:#111;
	background:0 0;
	border:2px solid #111;
	padding:10px 23px
}

a.btn.outline:hover,button.outline:hover,input[type=submit].outline:hover{
	color:#fff;
	background:#347DED;
	border:2px solid #347DED;
	border:2px solid #347DED;
}
.btn span{
	display:block;
}

.btn.color{
	background:#ff4800
}

.btn.outline.color{
	color:#ff4800;
	background:0 0;
	border:2px solid #ff4800
}

.btn.light{
	color:#fff;
	background:#ccc;
	background:rgba(255,255,255,.3)
}

.btn.outline.light{
	color: #fff;
	background: 0 0;
	/* border: 2px solid #ccc; */
	/* border: 2px solid rgba(255,255,255,.3); */
	border: 1px solid #fff;
	border-radius: 25px;
	font-size: 12px;
	padding: 2px 40px;
	text-transform: none;
}

.btn.dark{
	color:#111;
	background:#aaa;
	background:rgba(17,17,17,.3)
}

.btn.outline.dark{
	color:#111;
	background:0 0;
	border:2px solid #aaa;
	border:2px solid rgba(17,17,17,.3)
}

.btn.white{
	color:#111;
	background:#fff
}

.btn.outline.white{
	color:#fff;
	background:0 0;
	border:2px solid #fff
}

.header{
	position:relative;
	display:block;
	width:100%;
	height:640px
}

.header.large{
	height:745px
}

.header.medium{
	height:480px
}

.header.small{
	height:320px
}

@media only screen and (max-width:768px){
	.header,.header.large{
		height:480px
	}

	.header.medium{
		height:320px
	}

}

.header-inner{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:100%;
	max-width:740px;
	min-width:300px;
	text-align:center;
	z-index:60
}

.bg-img{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center
}

.bg-img.fixed{
	background-attachment:scroll
}

.no-touch .bg-img.fixed{
	background-attachment:fixed
}

.title{
	text-align:center
}

.title h1,.title h2{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:15px
}

.title hr{
	display:inline-block;
	width:40px;
	height:2px;
	background:#ccc;
	margin-bottom:75px
}

.title.title-light h1,.title.title-light h3{
	color:#fff
}

.title.title-light hr{
	background:#555
}

.header hr{
	display:inline-block;
	width:40px;
	height:2px;
	background:#fff;
	filter:alpha(opacity=50);
	opacity:.5;
	margin-bottom:25px
}

a.underline{
	padding-bottom:1px;
	border-bottom:1px dotted #ccc
}

a.underline:hover{
	border-bottom:1px dotted #111
}

a.inverted:hover{
	color:#fff
}

a.inverted.underline{
	padding-bottom:1px;
	border-bottom:1px dotted #555
}

a.inverted.underline:hover{
	border-bottom:1px dotted #fff
}

a.arrow-link{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	color:#111
}

a.arrow-link:before{
	font-family:FontAwesome;
	content:'\f054';
	color:#aaa;
	margin-right:7px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

a.arrow-link:hover,a.arrow-link:hover:before{
	color:#ff4800;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.oc-left,.oc-right{
	position:absolute;
	top:50%;
	margin-top:-30px
}

.oc-left{
	left:0;
	margin-left:-60px
}

.oc-right{
	right:0;
	margin-right:-60px
}

@media only screen and (max-width:1220px){
	.oc-left,.oc-right{
		top:100%;
		margin-top:20px
	}

	.oc-left{
		left:50%;
		margin-left:-40px
	}

	.oc-right{
		right:50%;
		margin-right:-40px
	}

}

.oc-left i,.oc-right i{
	display:inline-block;
	width:60px;
	height:60px;
	line-height:60px;
	font-size:42px;
	text-align:center;
	color:#ccc
}

.oc-left i:hover,.oc-right i:hover{
	color:#aaa
}

@media only screen and (max-width:1220px){
	.oc-left i,.oc-right i{
		width:40px;
		height:40px;
		line-height:40px;
		font-size:28px
	}

}

.overlay-item{
	position:relative;
	color:#fff;
	line-height:0;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}
.overlay-item img {
	border-radius: 10px;
}
.o-hover{
	position:absolute;
	border-radius: 10%;
	width:100%;
	height:100%;
	overflow:hidden;
	color:rgba(255,255,255,0);
	background:rgba(0,0,0,0);
	visibility:visible;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s;
	cursor: pointer;
}

/*.overlay-item a:hover>.o-hover,.overlay-item:hover>.o-hover{
	color:rgba(255,255,255,1);
	background:rgba(0,0,0,.5);
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}*/

/*.o-hover span{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	text-align:center;
	line-height:20px;
	display:inline-block;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}*/

.o-hover em{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:400;
	letter-spacing:0;
	text-transform:none;
	color:rgba(255,255,255,0);
	display:inline-block;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

/*.overlay-item a:hover>.o-hover em,.overlay-item:hover>.o-hover em{
	color:rgba(255,255,255,1);
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}*/

/*.o-hover i{
	font-size:14px;
	font-weight:400;
	letter-spacing:0;
	text-transform:none;
	color:rgba(255,255,255,0);
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}*/

/*.overlay-item a:hover>.o-hover i,.overlay-item:hover>.o-hover i{
	color:rgba(255,255,255,1);
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.overlay-item a:hover>.o-hover i:hover,.overlay-item:hover>.o-hover i:hover{
	color:#111;
	background:#fff;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}*/

.o-hover i.fa-2x{
	font-size:2em
}

/*.overlay-item a:hover>.o-hover i.fa-2x:hover,.overlay-item:hover>.o-hover i.fa-2x:hover{
	color:#fff;
	background:0 0
}*/

.e-info{
	position: relative;
	display: block;
	background: none;
	padding: 25px 20px 30px;
	text-align: center;
	/* background-color: red; */
	text-align: left;
}

.e-info h3{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:0
}

.e-info p{
	color: #666;
	line-height: 20px;
	margin-bottom: 0;
	font-size: 14px;
}

.top-bar{
	/*color: #333;*/
	position:fixed;
	top:0;
	display:block;
	width:100%;
	height:60px;
	background:#f9f9f9;
	/*background:rgba(7,7,7,.9);*/
	z-index:99;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.tb-logo{
	font-size: 0;
	margin: 0;
	/*height: 70px;*/
}


.tb-logo h1{
	/*letter-spacing:.08em;*/
	/*text-transform:uppercase;*/
	line-height:0;
	font-size: 0;
	margin: 0;
	padding: 0;
	height: 60px;
}

.tb-logo h1 a{
	text-decoration:none;
	color:#0FDD7A;
	font-size: 30px;
}

.tb-logo h1 a:hover{
	color:#fff
}

.tb-logo img{
	float:left;
	text-align:left;
	max-height:47px;
	/*margin:15px 10px 15px 0;*/
	display:block;
	/*height:67px;*/
	width: 100px;
}

#toggle,.menu ul ul,.toggle{
	display:none
}

.menu ul li:hover>ul{
	display:block
}

.menu{
	float:right;
	text-align:left;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:25px
}
.cn-menu.menu{
	/*margin-left: 210px;*/
	/*height: 70px;*/
}
.menu ul{
	height: 60px;
	margin: 10px 0;
	position:relative;
	/*display:table-cell;*/
	list-style:none
}

.menu ul:after{
	content:"";
	clear:both;
	display:block
}

.menu ul li{
	float:left;

}

.menu ul li:hover a{
	color:#fff
}

.menu ul li a{
	display:inline-block;
	padding:3px 16px;
	color:#333;
	text-decoration:none;
	font-size: 16px;
	font-weight:normal;
	text-align: center;
	text-transform: none;
}
.en-menu.menu ul li a{
	font-size: 14px;
}


.menu ul ul{
	position:absolute;
	top:100%;
	background:#111;
	background:rgba(7,7,7,.9);
	padding:0 0 10px;
	min-width:150px
}

.menu ul ul li{
	float:none;
	position:relative
}

.menu ul ul li a{
	padding:10px 20px;
	color:#777!important
}

.menu ul ul li a:hover{
	color:#fff!important
}

.menu ul ul ul{
	position:absolute;
	top:0;
	left:100%
}

@media only screen and (max-width:990px){
	.headerbox {
		padding: 0 !important;
	}
	.top-bar{
		padding-top:0;
		height: 45px;
	}
	.headerbox, .tb-logo h1  {
		height: 45px !important;
	}
	.background-one {
		margin-top: 50px !important;
	}

	.toggle{
		display:block;
		position:relative;
		cursor:pointer;
		-webkit-touch-callout:none;
		-webkit-user-select:none;
		user-select:none;
		color:#777;
		float:right;
		font-family:FontAwesome;
		text-align:center;
		font-size:14px;
		width:50px;
		height:50px;
		line-height:50px;
		-webkit-transition:all .2s;
		-moz-transition:all .2s;
		-ms-transition:all .2s;
		-o-transition:all .2s;
		transition:all .2s
	}

	.toggle:hover{
		color:#fff;
		-webkit-transition:all .2s;
		-moz-transition:all .2s;
		-ms-transition:all .2s;
		-o-transition:all .2s;
		transition:all .2s
	}

	.toggle:after{
		content:'\f0c9';
		font-size: 0;
	}

	#toggle:checked~.menu{
		display:block;
		filter:alpha(opacity=100);
		opacity:1
	}

	#toggle:checked+.toggle:after{
		content:'\f077'
	}

	.menu{
		display:none;
		/*filter:alpha(opacity=0);*/
		opacity:1;
		top:45px;
		width:100%;
		position:absolute;
		right:0;
		height:auto;
		text-align:left;
		background:#f8f8f8;
		/*background:rgba(7,7,7,.9);*/
		/*background: rgba(249,249,249,.95);*/
		/*padding-bottom:10px;*/
	}
	.menu ul{
		margin: 0 10px;
		 padding: 0;
		 display: block;
	}
	.menu ul li{
		display:block;
		width:100%;
		line-height:30px;
		margin:0
	}

	.menu ul li a{
		display:block;
		width:100%;
		padding: 10px 0;
		/*padding:0*/
	}

	.sl-language {
		text-align: center;
}
	.menu ul li.sl-language *{
		font-size:14px;
		padding: 0;
	}

	.menu ul .sl-language a{
		display: inline-block;
		width: auto;
		padding: 30px 0;
		padding:0
	}
	.menu ul ul{
		display:block;
		position:relative;
		top:0;
		background:0 0;
		padding:0
	}

	.menu ul ul li a{
		padding:0
	}

	.menu ul ul ul{
		position:relative;
		top:0;
		left:0
	}

}

@media only screen and (min-width: 765px) and (max-width: 992px) {

	.top-bar .container {
		/*width: 960px;*/
	}
	.sl-language {

		/*margin-left: 0px !important;*/
	}
	.metaverse-slg{
		width: 400px;
	}
	.header.large {
		height: 500px;
	}
	h6.bigtext {
		margin-bottom: 50px;
		font-size: 20px;
		line-height: 1.5em;
	}
	.social {
		padding: 12px 0 !important;
	}
}



/*.menu-trigger{*/
	/*z-index: 999;*/
	/*position: fixed;*/
	/*display: block;*/
	/*padding: 9px;*/
	/*height: 32px;*/
	/*width: 32px;*/
	/*margin: 0px;*/
	/*top: 45px;*/
	/*right: 115px;*/
/*}*/
/*.menui {*/
	/*background: #FFF;*/
	/*transition: 0.6s ease;*/
	/*transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);*/
	/*margin-top: 10px;*/
	/*position: absolute;*/
/*}*/

.top-menu,
.mid-menu,
.bottom-menu {
	width: 24px;
	height: 2px;
	border-radius: 10px;
	background-color: #fff;
}
.top-menu {
	top: 5px;
}
.mid-menu {
	top: 13px;
}
.bottom-menu {
	top: 21px;
}
.top-animate {
	background: #347ded !important;
	top: 13px !important;
	-webkit-transform: rotate(45deg);
	/* Chrome, Safari, Opera */
	transform: rotate(45deg);
}
.mid-animate {
	opacity: 0;
}
.bottom-animate {
	background: #347ded !important;
	top: 13px !important;
	-webkit-transform: rotate(-225deg);
	/* Chrome, Safari, Opera */
	transform: rotate(-225deg);
}
.menui {
	background: #347ded;
	transition: 0.6s ease;
	transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
	margin-top: 10px;
	position: absolute;
}
.menu-trigger, .mvs-blog {
	display: block;
	padding: 9px;
	height: 32px;
	width: 32px;
	margin: 0px;
	/*z-index: 999;*/
	/*position: fixed;*/
	/*top: 2px;*/
	/*right: 15px;*/
}


.headerbox{
	/* padding: 10px 0; */
	/*height: 70px;*/
}

.menu ul li a.test-area{
	color:#347ded ;
   }

.menu ul li a.blockchain-exploer:hover{
	color: #fff;
}
.menu ul li a.blockchain-exploer{
	background: #347ded;
	color: #fff;
	border-radius: 30px;
	/*font-size: 16px;*/
}
.menu ul li a.blockchain-exploer span{
	padding: 0 0 0 5px;
	font-size: 14px;
}
.fa-search{
	font-size:16px;
	margin-left: 10px;
}


@media only screen and (max-width:480px){
	.tb-logo{
		margin-left:5px
	}

	.toggle{
		margin-right:-10px
	}

	.menu{
		padding: 0 15px;
	}

}

.tb-large{
	/*padding-top:25px;*/
	/*padding-bottom:25px*/
}

.tb-small{
	padding-top:0;
	padding-bottom:0
}

@media only screen and (max-width:768px){
	.tb-large{
		padding-top:0;
		padding-bottom:0
	}

}

.top-bar.tb-transp{
	/*background:#none;*/
	/*background:rgba(7,7,7,0)*/
	/*background:rgba(7,7,7,.9);*/
}

.tb-transp .menu ul li a{
	/*color:#fff;*/
}

.tb-transp .menu ul li:hover a{
	color:#347ded;
}

.tb-small.tb-transp{
	/*background:#f9f9f9;*/
	background:rgba(249,249,249,.9)

}

@media only screen and (max-width:768px){
	.top-bar.tb-transp{
		/*background:#111;*/
		/*background:rgba(7,7,7,.9)*/
	}

}

.home{
	z-index:1
}

.topspace{
	padding-top:105px;
	background:#111
}

@media only screen and (max-width:768px){
	.topspace{
		padding-top:50px
	}

}

.about{
	background:#fff;
	padding-top:60px;
	padding-bottom:100px
}

.icon-nav{
	text-align:center;
	margin-bottom:25px;

}

.icon-nav a{
	display:inline-block
}

.icon-nav i{
	display:block;
	margin:0 auto 10px;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	font-size:36px;
	color:#ccc!important;
	background:0 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

@media only screen and (max-width:768px){
	.icon-nav i{
		width:80px;
		height:80px;
		line-height:80px;
		font-size:24px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}

}

.icon-nav a:hover>i{
	color:#fff;
	background:#0fdd7a;
	border-radius:10%;
}

.icon-nav b{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:14px;
	font-weight:700;
	letter-spacing:.08em;
	/*text-transform:uppercase;*/
	line-height:20px;
	color:#7b7b7b;
	display:block
}

.icon-nav em{
	font-style:normal;
	font-size:13px;
	font-weight:400;
	line-height:20px;
	color:#7b7b7b;
	display:block
}

.work{
	background:#f4f4f4;
	padding-top:60px;
	padding-bottom:100px
}

.work .oc-left,.work .oc-right{
	margin-top:-65px
}

@media only screen and (max-width:1220px){
	.work .oc-left,.work .oc-right{
		margin-top:20px
	}

}

.cta{
	padding-top:100px;
	padding-bottom:100px
}

.services, .ptb80{
	background:#fff;
	padding-top:80px;
	padding-bottom:80px
}

.service-item{
	position:relative;
	display:block;
	text-align:center;
	background:#fff;
	padding-bottom:35px
}

.service-item h3, .service-item p{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:14px;
	/*font-weight:700;*/
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:20px;
	color:#7b7b7b;
	margin-top: 25px;
	/*margin-bottom:0*/
}

.service-item .subline{
	font-style:normal;
	font-size:13px;
	font-weight:400;
	line-height:20px;
	color:#aaa
}

.service-item .serif{
	color:#aaa
}

.service-item hr{
	display:inline-block;
	width:30px;
	height:2px;
	background:#ccc;
	margin-bottom:20px
}

.service-item ul{
	margin-bottom:25px
}

.service-item i{
	display:inline-block;
	width:88px;
	height:88px;
	line-height:88px;
	text-align:center;
	font-size:48px;
	color:#000;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}
.service-item .iicon2{

}
@media (min-width: 992px) {
	.col5-warp .col-md-3 {
		width: 20%;
	}
}
.service-item:hover>i, .service-item:hover>p{
	color:#347ded;
	/*-webkit-transition:all .2s;*/
	/*-moz-transition:all .2s;*/
	/*-ms-transition:all .2s;*/
	/*-o-transition:all .2s;*/
	/*transition:all .2s*/
}

.service-item:hover>a.arrow-link:before{
	color:#0FDD7A
}

.services .oc-left,.services .oc-right{
	top:70px;
	margin-top:0
}

@media only screen and (max-width:1220px){
	.services .oc-left,.services .oc-right{
		top:100%;
		margin-top:0
	}

}

.process{
	background:#222;
	padding-top:100px;
	padding-bottom:100px
}

.icon-circle{
	display:block;
	text-align:center;
	margin-bottom:50px
}

.icon-circle i{
	display:block;
	margin:0 auto 20px;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:36px;
	color:#555;
	background:0 0;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.icon-circle:hover>i{
	font-size:48px;
	color:#fff;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.icon-circle p{
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.icon-circle:hover>p{
	color:#aaa;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.team{
	background:#ffffff;
	padding-top:100px;
	padding-bottom:100px
}

.bg-white{
	background:#fff
}

.bg-padding{
	padding:75px 20px
}

.qs-wrap p{
	color:#aaa
}

.qs-wrap{
	margin-top:2px
}

.qs-wrap .bx-wrapper .bx-pager{
	bottom:-25px
}

.qs-wrap .bx-wrapper .bx-pager.bx-default-pager a{
	border:1px solid #ccc;
	filter:alpha(opacity=100);
	opacity:1
}

.qs-wrap .bx-wrapper .bx-pager.bx-default-pager a.active,.qs-wrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
	background:#ccc;
	filter:alpha(opacity=100);
	opacity:1
}

.about .oc-left,.about .oc-right{
	margin-top:-50px
}

@media only screen and (max-width:1220px){
	.about .oc-left,.about .oc-right{
		margin-top:20px
	}

}

.contact{
	background:#f4f4f4;
	padding-top:100px;
	padding-bottom:100px
}

.c-form{
	margin-top:-15px;
	text-align:left
}

.c-form input:not([type]),.c-form input[type=color],.c-form input[type=date],.c-form input[type=datetime-local],.c-form input[type=datetime],.c-form input[type=email],.c-form input[type=month],.c-form input[type=number],.c-form input[type=password],.c-form input[type=search],.c-form input[type=tel],.c-form input[type=text],.c-form input[type=time],.c-form input[type=url],.c-form input[type=week],.c-form select,.c-form textarea{
	width:100%;
	min-height:50px;
	padding:10px;
	border:1px solid #fff;
	background:#fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	margin-bottom:10px
}

.c-form textarea{
	resize:none;
	height:150px;
	font-size:100%
}

.c-message{
	text-align:left
}

.c-message h6{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	margin-bottom:0
}

.error_message{
	text-align:left;
	color:red;
	margin-bottom:10px
}
.c-details{
	height:100%;
	width:50%;
}
.r-details{
	height:100%;
	width:50%;
}
.r-details a{
	color:#777;
	display:inline-block
}
.r-details a:hover,.r-details a:hover i{
	color:#0FDD7A
}
.r-details i{
	float:left;
	width:15px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	color:#111
}

.r-details span{
	display:block;
	width:auto;
	margin-bottom:10px;
	margin-left:35px
}

.c-details a{
	color:#777;
	display:inline-block
}

.c-details a:hover,.c-details a:hover i{
	color:#0FDD7A
}

.c-details i{
	float:left;
	width:15px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	color:#111
}

.c-details span{
	display:block;
	width:auto;
	margin-bottom:10px;
	margin-left:35px
}

.back-top-wrap{
	/*text-align:center;*/
	/*height:0*/
}

.back-top{
	position: fixed;
	bottom: 25px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	/*background: #0fdd7a;*/
	background: #347DED;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	z-index: 2;
	right: 25px;
}

.back-top:hover{
	background:#225BB3
}

.social-footer{
	background:#3c3c3c;
	padding-top:75px;
	padding-bottom:50px;
	text-align:center;
	/*border-bottom:1px solid #292929*/
}

.sf-icons{
	width:100%;
	position:relative;
	text-align:center;
	margin-bottom:25px
}

.sf-icons i{
	display:inline-block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:28px;
	color:#888;
	margin:10px
}

.sf-icons i:hover{
	color:#fff
}

.sf-icons p{
	margin-top:15px;
	margin-bottom:0
}

.footer{
	background:#232323;
	padding-top:25px;
	padding-bottom:0;
	text-align:center
}

.footer-promo{
	display:none;
	background:#111;
	padding-top:60px;
	padding-bottom:60px;
	text-align:center
}

.promo-control{
	position:relative;
	top:-25px;
	text-align:center;
	height:0
}

.promo-control a{
	padding-top:10px;
	cursor:pointer;
	color:#333
}

.promo-control a:hover{
	color:#777
}

.fourofour,.fourofour .header{
	height:100%
}

.error-circle{
	display:inline-block;
	margin:0 auto;
	width:300px;
	height:300px;
	border-radius:150px;
	background:#fff;
	padding:25px
}

.error-circle h1{
	font-size:90px;
	line-height:1em;
	margin-top:30px;
	margin-bottom:15px
}

.error-circle h5{
	margin-bottom:15px
}

.error-circle hr{
	display:inline-block;
	width:40px;
	height:2px;
	background:#ccc;
	margin-bottom:10px
}

@media only screen and (max-width:768px){
	.title hr{
		margin-bottom:50px
	}

	.bg-padding{
		padding:50px 15px
	}

	.about,.contact,.cta,.intro,.process,.services,.social-footer,.work{
		padding-top:75px;
		padding-bottom:75px
	}

	.process,.social-footer{
		padding-top:75px;
		padding-bottom:50px
	}

	.footer,.footer-promo{
		padding-top:40px;
		padding-bottom:40px
	}

	.section-slider{
		padding-top:75px;
		padding-bottom:100px
	}

	.c-form{
		margin-bottom:25px
	}

}

@media only screen and (max-width:480px){
	.title hr{
		margin-bottom:25px
	}

	.bg-padding{
		padding:25px 10px
	}

	.about,.contact,.cta,.intro,.process,.services,.work{
		padding-top:50px;
		padding-bottom:50px
	}

	.social-footer{
		padding-top:50px;
		padding-bottom:25px
	}

	.footer,.footer-promo{
		padding-top:25px;
		padding-bottom:25px
	}

	.section-slider{
		padding-top:50px;
		padding-bottom:100px
	}

	.error-circle{
		width:220px;
		height:220px;
		border-radius:110px;
		padding:15px
	}

	.error-circle h1{
		font-size:60px;
		line-height:1em;
		margin-top:25px;
		margin-bottom:10px
	}

	.error-circle h5{
		font-size:12px;
		margin-bottom:5px
	}

	.error-circle hr{
		display:inline-block;
		width:40px;
		height:2px;
		background:#ccc;
		margin-bottom:5px
	}

}

.bg-coverfixed{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}
.featuresbox{
	background-image:url('../images/new/ft-bg.gif');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 342px;
	/*padding: 70px 0;*/
}
.featuresbox .row{
	/*height: 342px;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
}
.featuresbox *{
	color: #fff;

}
.hh-title{
	margin: 0 0 50px;
}
.col_feature{
	height: 342px;
}
.cf-content{
	font-size: 16px;
	/* margin-top: 45px; */
	color: #f3f3f3;
	margin: 30px 10px;
	line-height: 2;
	letter-spacing: 1px;
}


.dis-tablecell{

	display: table-cell;
	vertical-align: middle;
}

.jijinhuibox{
	background-image:url('../images/new/jijinhuibg.jpg');
	height: 500px;
	/*padding: 70px 0;*/
}
.jijinhuibox h3{
	margin: 0;
}
.jijinhuibox .col{
	height: 500px;
}
.product-box img{
	text-align: center;
	margin-top: 30px;
}
.container .six {
	width: 48%;
	height: 380px;
	max-width: 500px;
}
.product-box{
	/*max-width: 520px;*/
	background: #fff;
	-moz-box-shadow:0px 15px 100px rgba(52,125,237,.2);
	-webkit-box-shadow:0px 15px 100px rgba(52,125,237,.2);
	box-shadow:0px 15px 100px rgba(52,125,237,.2);
}
.background-one{
	margin-top: 60px;
	background-image:url('../images/new/bannerbg.jpg')
}


.loader{
	margin-left:10px
}
.row .right{
	float:right;
}
.row .twelve span{
	padding:0 20px;
}
.row .twelve span:hover{
	color:#fff;
}

img {
    vertical-align: middle;
}


.twelve_list,.form-list{
	width:100%;
	float:left;
	font-family:Microsoft Yahei,Arial;
	height:auto;
}
.twelve_list  ul li{
	width:48%;
	float:left;
	line-height:47px;
	margin-right:2%;
	margin-bottom:20px;
}
.twelve_list  ul li > .creatAssetBtn{
	background:#347ded;
	line-height:47px;
	color:#fff;
	width:100%;
	padding:0px;
	margin:0px;
	font-size:18px;
}
.twelve_list ul li >input{
	width:100%;
	float:left;
	line-height:47px;
	background:#333333;
	font-size:18px;
	padding-left:10px;
	border:1px solid #666666;
	color:#fff;
}
.social-footer {
	background-image: url('../images/new/sendmail.png');
	height: 290px;
}
.social-footer .ftips{
	/*color: white;*/
	font-size: 18px;
	color:#fff;
}
.error_message{
	display: none;
	color: red;
}
.success_message{
	display: none;
	color: green;
}

.icon-nav b{
	margin: 20px 0 10px ;
}





.h3-title{
	font-weight: 700;
	margin-bottom: 50px;
	color: #373737;
}
a:hover{
	text-decoration: none;
}

.send-email{
	background: #fff;
	border-radius: 30px;
	width: 450px;
	height: 48px;
	overflow: hidden;
	margin: 0 auto 60px;
}
.send-email .sdinput{
	/*background: #fff;*/
	/*border-radius: 30px;*/
	width: 364px;
	height: 48px;
	padding: 0 6px;
	color: #347ded;
	border: none;
	outline: none;
}


.sendbtn{
	height: 38px;
	padding: 0 22px;
	/*line-height: 38px;*/
	border-radius: 22px;
	background-color: #347ded;
	text-transform: none;
	border: none;
}
.send-email button:hover{
	background-color: #225BB3;
}

/*media*/
.footer .social li {
	display: inline-block;
	margin: 0 5px;
	height: 45px;
	width: 45px;
	line-height: 50px;
	border-radius: 50%;
	/* border: 2px solid #e5e5e5; */
	background: #bdbdbd;
	transition: all .4s;
}

.footer li:hover {
	cursor: pointer;
}
.footer li a {
	color: #232323;
}
.footer li i {
	text-align: center;
}
.footer .social i {
	font-size: 22px;
	transition: all .4s;
}
.footer .facebook:hover {
	/*border-color: #3b5998;*/
}
.footer .facebook:hover > a i {
	color: #3b5998;
}

.social{
	padding: 30px 0;
}

.fa-ji{
	width: 27px;
	height: 28px;
	background: url('../images/new/ji.png') no-repeat;

}
.fa-blog{
	background: url('../images/new/blogi.png');
}
.fa-bbs{
	background: url('../images/new/bbs.png');
	top: 15px;
}

.fa-ji, .fa-blog, .fa-bbs{
	width: 22px;
	height: 28px;
	background-repeat:no-repeat;
	position: relative;
	top: 5px;
}

.fa-ji, .fa-bbs{
	width: 28px;
}
.fa-bbs{
	/*background: url('../images/new/bbs.png');*/
	top: 15px;
}

.footer .social li:hover {
	background: #fff;
	/*color:red*/
}


/* ========================================================================
 1.4 Hover animation by hover.css http://ianlunn.github.io/Hover/
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
	25% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}
@keyframes hvr-pulse {
	25% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}
.hvr-pulse {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active
	/*,*/
	/*.nav */
{
	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
/* Rectangle Out */
.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(231, 76, 60, 0.9);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
	color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* General button style (reset) */
.portfolio-wrapper .button {
	padding: 20px 60px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
}
.portfolio-wrapper .button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 3px solid #fff;
	color: #fff;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.portfolio-wrapper .button:hover,
.button:active {
	color: #e74c3c;
}
.portfolio-wrapper .button:hover:after {
	height: 260%;
	opacity: 1;
}
.portfolio-wrapper .button:active:after {
	height: 400%;
	opacity: 1;
}

/*media special*/
@media only screen and (min-width: 300px) and (max-width: 375px) {
	.send-email .sdinput {
		width: 202px !important;
	}
	.send-email {
		width: 285px !important;
	}
	.send-email {
		margin: 0 auto 30px;
	}
	.copyright{
		font-size: 12px;
	}

}
@media only screen and (min-width: 300px) and (max-width: 600px) {
	.container .six {
		width: 92% !important;
		height: 380px!important;
		/* max-width: 480px; */
		margin: 10px 15px !important;
		float: none;
	}
	.product-box img {
width: 180px;
	}
}
@media only screen and (min-width: 300px) and (max-width: 475px) {
	.tb-logo img {
		width: 80px;
		margin-top: 5px;
	}
	.jijinhui-logo {
		width: 150px;
	}
	.fd-screen {
		height: 300px !important;
	}

	.metaverse-slg{
		width: 200px;
	}
	.icon-nav img {
		width: 50px;
	}
	h6.bigtext {
		margin-bottom: 20px;
	}
	/*.container .six {*/
		/*width: 92%;*/
		/*height: 410px;*/
		/*!* max-width: 480px; *!*/
		/*margin: 10px 15px;*/
	/*}*/
	.send-email{
		width: 345px
	}
	.send-email .sdinput {
		width: 252px;
	}
	.social-footer .ftips {
		font-size: 14px;
		margin: 0 15px;
	}


	.header, .header.large {
		height: 350px;
	}


	.hh-title {
		margin:0 0 25px;
	}
	.col_feature {
		height: 278px;
	}
	.cf-content {
		font-size: 12px;
		margin:  15px 5px;
	}
	.btn.outline.light {
		font-size: 12px;
		padding:4px 25px;
	}

	.jijinhuibox, .jijinhuibox .col {
		height: 350px;
	}
	.featuresbox {
		height: 280px;
	}
	.service-item i{
		width: 40px;
		height: 40px;
		display: inline;
	}
	.footer .social li {
		height: 30px;
		width: 30px;
		line-height: 32px;
		margin: 0 1px;
	}
	.footer .social i {
		font-size: 18px;
	}
	.fa-ji, .fa-blog, .fa-bbs{
		zoom: .8;
	}
	.fa-bbs{
		top: 14px;
	}
	.social {
		padding: 12px 0;
	}

	.foundationbox .hh-title {
		font-size: 18px !important;
		margin: 25px 0;
	}
	.foundation-md {
		font-size: 13px !important;
	}
}
@media only screen and (min-width: 476px) and (max-width: 900px) {

	.metaverse-slg{
		width: 400px;
	}
	.fd-screen {
		height: 450px !important;
	}
	.foundationbox .hh-title {
		font-size: 24px !important;
	}
	.foundation-md {
		font-size: 14px !important;
	}

	.social-footer .ftips {
		font-size: 14px;
	}

	.container .six {
		width: 44%;
		height: 440px;
		/* max-width: 480px; */
		margin: 0 15px;
	}
	.hh-title {
		margin: 30px 0 20px;
	}
	.cf-content {
		font-size: 16px;
	}
	.jijinhui-logo{
		width:240px ;
	}
	.service-item i{
		width: 50px;
		height: 50px;
		display: inline;
	}

}

@media (min-width: 768px){

	.about .col-sm-6 {
		height: 228px;
	}
	}
@media only screen and (min-width: 880px) and (max-width: 1024px) {
	.container .six {
		/*width: 46%;*/
		/*height: 490px;*/
		/* max-width: 480px; */
		/*margin: 0 15px;*/
	}


	.hh-title {
		margin: 50px 0 30px;
	}
	.cf-content {
		/*font-size: 20px;*/
	}
}



@media only screen and (min-width: 890px) and (max-width: 1140px) {
	.blockchain-exploerbox {
		/*margin-left: 50px;*/
	}

}
@media only screen and (max-width: 762px) and (max-width: 880px) {
	/*.blockchain-exploerbox {*/
		/*margin-left: 0;*/
	/*}*/
	/*.menu ul li a {*/
		/*padding: 3px 9px !important;*/
	/*}*/
}


@media only screen and (min-width: 1200px){
	.sl-language{
		margin-left: 50px;
	}
	.mr-50{
		margin: 0 0 0 50px;
	}

}





.downloadwrap{

	text-align: center;
}
.overhide{
	overflow: hidden;
}
@media only screen and (min-width: 995px){
	.menu-trigger {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.menu ul li a {
		padding: 3px 8px;
	}
}

/*nav*/
.menu.is-active{
	display: block;
	opacity: 1;
}

.menu ul li a.blockchain-exploer:hover{
	color: #fff;
}
/*nav end*/

/*foundation*/
.foundation-headerbox.top-bar{
	background: transparent;
	height: 45px;
}
.foundation-headerbox.tb-small{
	background: rgba(249,249,249,.9);

}
.foundation-headerbox .sl-language {
	/*position: fixed;*/
	/*right: 12px;*/
	/*margin-left: 30px;*/
	/*top: 10px;*/
}

.sl-language{
	/*position: absolute;*/
	/*right: 0;*/
	margin-left: 30px;
}

.foundation-header{
	/*width: 1200px;*/
	/*position: absolute;*/
	color: #0099ff;
	font-size: 16px;
	padding: 10px 0;
	/*top: 0;*/
	/*margin: 22px 10px 0;*/
}
.r-home{
	height: 45px;
	padding-left: 12px;
}

.line-lg{
	margin: 0 10px;
}

.fd-screen{
	background-image: url('../images/new/jjh-bg.png');
	height: 500px;
}
.fd-screen .header-inner{
	top: 30%;
}
.foundationbox *{
	color: #000;
}
.foundation-header  a:hover{
	color: #fd0000;
}
.foundation-md{
	padding:0 10%;
	font-size: 18px;
}
.foundation-md li{
	margin-bottom: 15px;
}
.foundation-mdbox{
	margin: 100px 0;
}
.foundationbox .hh-title{
font-size: 36px;
}


.menu ul li.sl-language a{
	padding: 0;
	font-size: 14px;
}
.sl-language a.active{
	font-weight: 700;
}


.dis_flex, .social-footer, .fd-screen{
	display: flex;
	justify-content: center;
	justify-content: center;
	align-items: center;

}

.jijinhui-logo {
	width: 180px;
}