
/* ========================================================================
  1.1 Component: GLOBAL
 ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
}
/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
li {
  list-style: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}


a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration:none;
  }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #e74c3c;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4697c6;
  color: #fff;
  text-shadow: none;
}
/* ==========================================================================
   1.2 Helper classes
   ========================================================================== */
/*
 * 1. Orange.
 */
/*
 * 2. Green.
 */
/*
 * 3. Blue.
 */
/*
 * 4. Blue Nutshell
 */
.main-bg {
  background: #e74c3c;
}
.main-color, .menu-box .mvs-blogs:hover {
  color: #e74c3c;
}
.white-color {
  color: #fff;
}
.button {
  /*padding: 20px 60px;*/
  padding: 19px 12%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-shadow: none;
  outline: none;
  border: 0;
}
.button:hover {
  cursor: pointer;
  color: #fff;
}
.button.light {
  /*padding: 19px 59px;*/
}
.line {
  width: 80px;
  height: 2px;
  margin-top: 15px;
}
.button.light {
  border: 2px solid #eeeeee;
}
.button.im-sbtn {
  border: 2px solid #e74c3c;
}
.padding-large {
  padding-top: 90px;
  padding-bottom: 90px;
}
.padding-top-large {
  padding-top: 90px;
}
.margin-top-large {
  margin-top: 90px;
}
.margin-bottom-large {
  margin-bottom: 90px;
}
.margin-top-medium {
  margin-top: 40px;
}
.margin-bottom-medium {
  margin-bottom: 40px;
}
.margin-bottom-small {
  margin-bottom: 25px;
}
.margin-right-small {
  margin-right: 15px;
}
.margin-left-small {
  margin-left: 15px;
}
.mat-none {
  margin-top: 0;
}
.mab-none {
  margin-bottom: 0;
}
.mar-none {
  margin-right: 0;
}
.mal-none {
  margin-left: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* ========================================================================
 1.3 Component: Fullscreen menu
 ========================================================================== */
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 24px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #FFF;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger, .mvs-blog {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 45px;
  right: 115px;
}
.mvs-blog{
  height: auto;
  width: auto;
  color: #fff;
}
.mvs-blog:hover{
  color: #e74c3c;
}
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(231, 76, 60, 0.9);
  text-transform: uppercase;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  /*font-size: 220%;*/
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.mobilenav li:last-child span {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.nav-label {
  /*border-bottom: 1px solid #fff;*/
  /*padding-bottom: 10px;*/
  display: block;
  width: 350px;
  margin: 0 auto;
}
.mobilenav li:first-child {
  margin-top: 60px;
}



.animated-c{
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.nav, .nav-de {
  /*position: absolute;*/
  /*z-index: 9999;*/
  /*top: 52px;*/
  /*left: 500px;*/
  color: #fff;
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  /*left: 0;*/
  left: -142px;
  height: 100%;
  background: #e74c3c;
  width: 150px;
}
.nav{
  background-color: rgba(0,0,0,.5);
}
.nav ul {
  top: 20%;
  left: 5px;
  position: relative;
}
.nav ul li {
/*float: left;*/
}

.nav ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.nav .nav-label{
  margin: 0;
  padding: 10px 15px;
  width:auto;
  border-bottom:none;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.nav .nav-label:hover{
  margin: 0;
  padding: 10px 0 10px 25px;
  width:auto;
  border-bottom:none;
  /*background:#000;*/
  color: #e74c3c;
  cursor: pointer;
}

.nav.active{
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.nav-de{
  -webkit-animation: balloon-animation-lg 1s linear infinite;
  animation: balloon-animation-lg 1s linear infinite;
}

@keyframes balloon-animation-lg
{
  0% {  background: #4596f7;}
  50% { background:#e74c3c;}
  100% { background:#f4ce45;}
}

@-webkit-keyframes balloon-animation-lg /*Safari and Chrome*/
{
  0% {  background: #4596f7;}
  50% { background:#e74c3c;}
  100% { background:#f4ce45;}
}


.hand-nav{
  width: 62px;
  height: 55px;
  display: block;
  position: fixed;
  top: 50%;
  left: 0;

}
.nav.active .handicon{
  display: none;
}
.nav .handicon{
  position:relative;
  animation:myfirst 3s linear 0s infinite alternate;
  -moz-animation:handact 3s linear 0s infinite alternate; /* Firefox */
  -webkit-animation:handact 3s linear 0s infinite alternate; /* Safari and Chrome */
  -o-animation:handact 3s linear 0s infinite alternate; /* Opera */
}
@keyframes handact
{
  0%   {left:2px; }
  50%  {left:15px;}
  100%  {left:2px;}
}

@-moz-keyframes handact /* Firefox */
{
  0%   {left:2px; }
  50%  {left:15px;}
  100%  {left:2px;}
}

@-webkit-keyframes handact /* Safari and Chrome */
{
  0%   {left:2px; }
  50%  {left:15px;}
  100%  {left:2px;}
}

@-o-keyframes handact /* Opera */
{
  0%   {left:2px; }
  50%  {left:15px;}
  100%  {left:2px;}
}

/* ========================================================================
 1.4 Hover animation by hover.css http://ianlunn.github.io/Hover/
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active
/*,*/
/*.nav */
{
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 76, 60, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* General button style (reset) */
.portfolio-wrapper .button {
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}
.portfolio-wrapper .button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.portfolio-wrapper .button:hover,
.button:active {
  color: #e74c3c;
}
.portfolio-wrapper .button:hover:after {
  height: 260%;
  opacity: 1;
}
.portfolio-wrapper .button:active:after {
  height: 400%;
  opacity: 1;
}
/* ========================================================================
  2.1 Component: Header
 ========================================================================== */
header {
  position: relative;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/slider-overlay.png) repeat;
}
header .carousel,
header .item,
header .active {
  height: 100%;
}
.carousel-inner {
  min-height: 500px;
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.carousel-indicators li {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #fff;
}
.carousel-indicators .active {
  width: 40px;
  height: 5px;
  background: #e74c3c;
}
.carousel-caption {
  top: 25%;
}
.carousel-caption h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: normal;
}
.carousel-caption h1.f-info{
  font-size: 24px;
  margin-bottom: 80px;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.icon-prev,
.icon-next {
  font-size: 60px !important;
}

header .logo-container {
  position: absolute;
  top: 30px;
  left: 60px;
  z-index: 10;
  overflow: hidden;
}
header .logo-container img{
  width: 145px;
}
header .logo-container:before {
  content: "";
  position: absolute;
  left: -665px;
  top: -460px;
  width: 220px;
  height: 8px;
  background-color: rgba(0,0,0,.2);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: coollight 1s ease-in 1s infinite;
  -o-animation: coollight 1s ease-in 1s infinite;
  animation: coollight 1s ease-in 1s infinite;
}
@-webkit-keyframes coollight {
  0% {
    left: -100px;
    top: 0;
  }

  to {
    left: 120px;
    top: 100px;
  }
}

@-o-keyframes coollight {
  0% {
    left: -100px;
    top: 0;
  }

  to {
    left: 120px;
    top: 100px;
  }
}

@-moz-keyframes coollight {
  0% {
    left: -100px;
    top: 0;
  }

  to {
    left: 120px;
    top: 100px;
  }
}

@keyframes coollight {
  0% {
    left: -100px;
    top: 0;
  }

  to {
    left: 120px;
    top: 100px;
  }
}
/* ========================================================================
  2.2 Component: Call To ACTION
 ========================================================================== */
.call-to-action {
  padding: 15px;
  color: #eeeeee;
  font-size: 18px;
  position: relative;
}
.call-to-action p {
  margin: 20px;
}
/* ========================================================================
  2.3 Component: About Us
 ========================================================================== */
.about-us {
  background: url("../img/about-us-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.about-us .overlay {
  background: rgba(238, 238, 238, 0.95);
}
.about-us .jumbo-text {
  /*text-transform: uppercase;*/
  /*font-size: 18px;*/
  color: #272727;
  margin-left: 12px;
}
.about-us p {
  color: #666;
  line-height: 24px;
  height: 114px;
  font-size: 14px;
}
.con4-warp h4{
  margin-top: 15px;
}
.con4-warp .service .icon{
  padding: 15px 0;
}
@media only screen and (max-width: 767px){
  .con4-warp .margin-bottom-large{
    margin-bottom: 0;
  }
}

.about-us img {
  /*margin-top: -50px;*/
}
/*up-animition begin*/
.border-from-bottom::before{
  background-color: #e74c3c;
}

.border-from-bottom::before {
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateY(4px);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}
.border-from-bottom {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  overflow: hidden;
  position: relative;
  transform: translateZ(0px);
  vertical-align: middle;
}
.border-from-bottom:hover::before, .border-from-bottom:focus::before, .border-from-bottom:active::before {
  transform: translateY(0px);
}
/*up-animition begin end*/
.panel {
  background: none;
  border: none;
  box-shadow: none;
}
.panel-default > .panel-heading {
  background: #e74c3c;
  color: #f3eff0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d7d7d7, -1px -1px 1px #d7d7d7;
}
.panel-heading {
  padding: 0;
}
.panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}
.collapsed {
  background: #ededed !important;
  color: #222;
}
.collapsed strong,
.collapsed .state {
  color: #222222;
}
.state {
  font-size: 18px;
  line-height: 18px;
}
/* ========================================================================
  2.4 Component: Case Study
 ========================================================================== */
.case-study .col-md-6 {
  padding: 0;
  cursor: pointer;
  color: #fff;
  transition: background .5s;
}
.case-study-left .overlay {
  padding-left: 200px;
  padding-right: 50px;
  transition: background .5s;
}
.case-study-right .overlay {
  padding-right: 200px;
  padding-left: 50px;
  transition: background .5s;
}
.case-study .case-study-left {
  background: url("../img/case-study/bf-left.jpg") no-repeat;
  background-size: cover;
}
.case-study .case-study-right {
  background: url("../img/case-study/bf-right.jpg") no-repeat;
  background-size: cover;
}
.case-study .overlay:hover {
  width: 100%;
  background: rgba(231, 76, 60, 0.9);
}
.case-study h3 {
  text-shadow: 1px 1px 1px #444;
  font-size: 28px;
  font-weight: bold;
}
.case-study .description {
  font-weight: lighter;
}
/* ========================================================================
  2.5 Component: Why choose us
 ========================================================================== */
.why-choose-us .icon {
  font-size: 35px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border: 1px solid #efefef;
  display: inline-block;
  border-radius: 4px;
}
.why-choose-us .icon i {
  color: #e74c3c;
}
.why-choose-us h4 {
  margin: 15px 0 20px;
  color: #000;
}
.why-choose-us p {
  color: #aaaaaa;
}
.why-choose-us .service {
  padding: 5px;
  margin-bottom: 50px;
  cursor: pointer;
}
.why-choose-us .service:hover > .icon {
  background: #e74c3c;
  color: #fff;
  transition: all .85s;
}
.why-choose-us .service:hover > .icon i {
  color: #fff;
  transition: all .85s;
}
/* ========================================================================
  2.6 Component: Our Skills
 ========================================================================== */
.skill-bar li .wrapper {
  margin-bottom: 30px;
  border-radius: 3px;
  background: #dddddd;
}
.skill-bar li span {
  height: 25px;
  width: 0px;
  display: block;
  border-radius: 3px;
}
.skill-bar li span {
  overflow: visible!important;
  position: relative;
}
.skill-bar li span {
  background: #e74c3c;
}
.our-skills .skill-people img {
  height: 300px;
}
/* ========================================================================
  2.7 Component: Processes
 ========================================================================== */
.processes {
  background: url("../img/process-bg.jpg") no-repeat center fixed;
  background-size: cover;
  color: #fffeff;
}
.processes .overlay {
  background: rgba(0, 8, 5, 0.85);
}
.processes .icon-container {
  margin-right: 25px;
  font-size: 24px;
}
.processes .feature {
  margin: auto;
  padding-left: 37px;
  padding-right: 37px;
  margin-bottom: 45px;
}
.feature:last-child {
  margin-bottom: 0;
}
.processes .description {
  width: 90%;
}
.processes .process-bar {
  height: 125px;
  width: 125px;
  line-height: 125px;
  font-size: 24px;
  display: inline-block;
}
.processes .discussion {
  border-radius: 3px 3px 0 3px;
}
.processes .check {
  border-radius: 3px 3px 3px 0;
}
.processes .idea {
  border-radius: 3px 0 3px 3px;
}
.processes .office {
  border-radius: 0 3px 3px 3px;
}
.processes .process-bar.main-bg {
  margin-right: 100px;
}
.processes .process-bar.right {
  border: 3px solid #e74c3c;
}
.processes .lines {
  height: 55px;
  width: 110px;
  margin: -3px auto -3px;
  border-right: 3px solid #e74c3c;
  border-left: 3px solid #e74c3c;
  border-bottom: 3px solid #e74c3c;
}
/* ========================================================================
  2.8 Component: Our Team
 ========================================================================== */
.our-team {
  background: #eee;
}
.our-team .team-member {
  /*border: 1px solid #e74c3c;*/
  /*width: 220px;*/
  height: 255px;
  overflow: hidden;
  /*border-radius: 100%;*/
}
.our-team .team-member:hover > .team-overlay {
  margin-top: -297px;
  transition: all .85s;
}
.our-team img {
  width: 100%;
  /*border-radius: 100%;*/
}
.our-team .team-overlay {
  margin-top: 0px;
  /*width: 220px;*/
  color: #fff;
  margin-left: -2px;
  position: relative;
}
.our-team .team-overlay .info {
  display: table-cell;
  vertical-align: middle;
  height: 300px;
  padding: 60px 20px 20px 20px;
  background: rgba(231, 76, 60, 0.9);
}

.our-team .team-overlay .learn-more {
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
  background: #c0392b;
  position: relative;
  cursor: pointer;
}
.our-team .description {
  padding: 40px 0;
}
.our-team .description h3 {
  text-transform: uppercase;
}
.our-team .description .about {
  font-size: 14px;
  color: #555;
}
.our-team .description .member-skill {
  display: inline-block;
}
@media  only screen and (min-width: 300px) and (max-width: 320px){
  header .logo-container img {
    width: 100px;
  }
  .ecosystem .col-xs-12 {
    width: 100%;
    padding: 5px;
  }
  .our-team .team-member {
    width: 300px;
    height: 212px;
  }
  .our-team .team-overlay .info {
    padding: 100px 20px 20px 20px;
  }
  .our-team .team-overlay .info p{
    font-size: 13px;
  }
  .our-team .team-overlay .info h3{
    font-size: 16px;
  }
}
@media  only screen and (min-width: 375px) and (max-width: 768px){
  header .logo-container img {
    width: 100px;
  }
  .ecosystem .col-xs-12 {
    width: 100%;
  }
  .our-team .team-member {
    width: 367px;
  }
}
@media  only screen and (min-width: 769px) and (max-width: 1200px){
  .our-team .team-overlay .info p{
    /*line-height: 1;*/
    font-size: 14px;
  }
  .our-team .team-overlay .info h3{
    font-size: 18px;
  }
  .our-team .team-member {
    height: 205px !important;
  }
  .our-team img {
    height: 205px;
  }
  .our-team .team-member:hover > .team-overlay {
    margin-top: -260px;
  }

  .about-us p {
    height: 80px;
  }

  .margin-top-large {
    margin-top: 40px;
  }
  h2{
    font-size: 24px;
  }
  .about-us .jumbo-text {
    font-size: 16px;
  }
}

/*@media  only screen and (min-width: 765px) and (max-width: 1475px){*/
  /*.button,  .button.light  {*/
    /*padding: 20px 20px;*/
  /*}*/

/*}*/
/* ========================================================================
  Documents
 ========================================================================== */
.documents-item i {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 48px;
  color: #ccc;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.documents-item .service a{

  color: #ccc;
}
.documents-item .service a:hover i, .documents-item .service a:hover{

  color: #e74c3c;
}
.documents-item .con4-warp h4 {
  /*font-family: "Campton", sans-serif;*/
}

/* ========================================================================
  Download
 ========================================================================== */
.icon-circle i {
  display: block;
  margin: 0 auto 15px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 36px;
  color: #555;
  background: 0 0;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.hover-show {
  /*display: none;*/
  visibility: hidden;
  margin-top: 25px;
}
.hover-show ul li {
  display: inline-block;
  width: 49%;
  text-align: center;
  line-height: 36px;
  height: 35px;
  box-sizing: border-box;
}
.spe-xh {
  height: 240px;
}
.spe-xh  .icon-circle a{

  color: #333;
}

.spe-xh.active {
  /*background: #f3f3f3;*/
  /*z-index: 1000;*/
  /*position: relative;*/
}

.spe-xh.active *, .spe-xh.active .icon-circle:hover>i{
  color: #000;
}
.spe-xh.active .icon-circle i, .spe-xh.active .hover-show li a{
  color: #3983c7;
}
.spe-xh.active .hover-show li a:hover{
  color: #3983c7;
}
.spe-xh.active .hover-show li a{

  /*position: relative;*/
}

.spe-xh .hover-show li a:after, .sendmessage span:after {
  display: block;
  position: absolute;
  content: ' ';
  width: 50%;
  height: 6px;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  /*transform: scaleX(0) translateZ(0);*/
  /*-webkit-transform: scaleX(0) translateZ(0);*/
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transition: 0.45s cubic-bezier(0.24,1,0.30,1);
  transition: 0.45s cubic-bezier(0.24,1,0.30,1);
}
.spe-xh.active .hover-show li a:after, .sendmessage:after {
  background-color: #3983c7 !important;
  /*left: 200px;*/
  width: 100%;
}

.sendmessage span:after {
  display: block;
  position: absolute;
  content: ' ';
  width: 0;
  height: 2px;
}
.sendmessage:hover span:after {
  background-color: #fff !important;
  /*left: 200px;*/
  width: 100%;
}
.spe-xh.active .hover-show{
  background: #f3f3f3;
  visibility: visible;
  /*display: block;*/
  /*border-bottom: #ccc 1px solid;*/

}

.spe-xh.active  .icon-circle{
  /*border-bottom: #ddd 1px solid;*/
}
.send-btn i{
  margin-right: 5px;
}

.fmenu-box{
  position: fixed;
  width: 100%;
  z-index: 1000;
  /*top: 20px;*/
  /*right: 90px;*/

}
.fmenu-box.tb-small{
   background: rgba(7,7,7,.9);
 }
.fmenu-box.tb-small .menu-box{
  /*margin:0 90px 0;*/
}
.menu-box{
  float: right;
  /*margin:20px 90px 0;*/
  padding: 25px 0;
  margin-right: 70px;
}
.menu-box .mvs-blogs{
  margin-left: 15px;
}
@media (min-width: 992px) {
  .col5-warp .col-md-3 {
    width: 20%;
  }
  .menu-trigger{
    display: none;
  }
  header .logo-container {
    /*width: 100px;*/
    /*left: 12px;*/
    /*top: 12px;*/
  }

}
.fmenu-box.tb-small .logo-container img{
  width: 100px;
}
.fmenu-box.tb-small .logo-container{
  top: 18px;
}
@media (max-width: 991px){
  .logo-container img{
    width: 100px;
    /*margin-top: 5px;*/
  }
  .about-us .jumbo-text{
    padding: 0 12px;
  }
  .mvs-blog {
  display: none;
  }
  .nav{
    display: none;
  }

}

@media (max-width: 767px) {
  #header {
    /*width: 20%;*/
    height: 450px !important;
  }
}

/* ========================================================================
  2.9 Component: Testimonail
 ========================================================================== */
.testimonial {
  background: url(../img/testimonial-bg.png);
}
.testimonial-carousel .item {
  padding: 25px 40px 40px;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
}
.testimonial-carousel .item p {
  font-style: italic;
  font-size: 24px;
}
.testimonial-carousel .item .client img,
.testimonial-carousel .item .client ul {
  display: inline-block;
  vertical-align: middle;
}
.testimonial-carousel .item .client img {
  height: 50px;
  width: 50px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.testimonial-carousel .item .client-info {
  margin-left: 10px;
}
.testimonial-carousel .item .client-info li {
  text-align: left;
}
.testimonial-carousel .item .client-info li:first-child {
  font-size: 18px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #e74c3c;
}
/* ========================================================================
  2.10 Component: Portfolio
 ========================================================================== */
.portfolio .line {
  margin: 15px auto 45px;
}
.portfolio .subtitle {
  font-size: 20px;
}
.portfolio p {
  color: #6b6b6b;
  font-size: 14px;
  margin-top: 10px;
}
.portfolio .filters {
  color: #9e9e9e;
}
.portfolio .filters li {
  display: inline;
}
.portfolio .filters li a {
  margin: 0 5px;
  color: #9e9e9e;
}
.portfolio .filters .active {
  color: #e74c3c;
  text-decoration: none;
}
.portfolio .portfolio-item {
  width: 25%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-item a {
  position: relative;
  display: block;
  color: #fff;
}
.portfolio .portfolio-item a .portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 4;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 125px 20px;
}
.portfolio .portfolio-item a img {
  width: 100%;
  transition: all 1.2s linear;
}
.portfolio .portfolio-item a:hover > .portfolio-overlay {
  opacity: 1;
}
.portfolio .portfolio-item a:hover > img {
  transform: scale(1.2);
}
.portfolio > .button {
  border-color: #333;
  font-weight: normal;
  color: #333;
  position: relative;
  z-index: 10;
}
.portfolio > .button i {
  font-size: 22px;
}
.filters li a:after {
  content: "/";
  margin-left: 10px;
  color: #9e9e9e;
}
.filters li:last-child > a:after {
  content: "";
}
/* ========================================================================
  2.11 Component: Promote
 ========================================================================== */
.promote {
  padding: 25px;
  color: #eeeeee;
  font-size: 18px;
  position: relative;
}
.promote p {
  margin: 20px;
}
.promote .button {
  display: inline-block;
}
.promote .deep {
  background: #c0392b;
}
/* ========================================================================
  2.12 Component: We are hiring
 ========================================================================== */
.we-are-hiring {
  background: #f4f4f4;
  border-top: 1px solid #e5e5e5;
}
.we-are-hiring h2 {
  color: #3a3a3a;
  font-size: 36px;
}
.we-are-hiring p {
  color: #666666;
  font-size: 16px;
  line-height: 28px;
}
.we-are-hiring .upload-cv {
  background: #fff;
  height: 300px;
  width: 300px;
  margin: 20px auto 0;
  padding: 15px;
  border: 1px solid #dbd8d8;
}
.we-are-hiring .upload-cv .inner {
  padding: 65px;
  border: 2px dashed #dbd8d8;
  color: #666666;
}
.we-are-hiring .inner i {
  font-size: 80px;
}
/* ========================================================================
  2.13 Component: Twitter
 ========================================================================== */
.twitter {
  background: url("../img/twitter-bg.jpg") no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}
.twitter .overlay {
  background: rgba(27, 28, 29, 0.9);
}
.twitter .icon {
  font-size: 120px;
}
.twitter .icon i {
  transition: 1.2s;
  cursor: pointer;
}
.twitter .icon i:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
  -moz-transform: rotate(360deg) scale(1.2);
  -o-transform: rotate(360deg) scale(1.2);
  transform: rotate(360deg) scale(1.2);
  color: #00aced;
}
.twitter .tweet-text {
  font-size: 16px;
  line-height: 1.5em;
}
/* ========================================================================
  2.14 Component: Map
 ========================================================================== */
#map-container {
  height: 500px;
  width: 100%;
}
/* ========================================================================
  2.15 Component: Send Message
 ========================================================================== */
.send-message {
  padding: 20px;
}
.send-message .send-icon {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background: #e74c3c;
  border-radius: 50%;
  line-height: 60px;
  margin-top: -80px;
  font-size: 20px;
  position: relative;
}
.send-message p {
  font-size: 30px;
}
.send-message:hover {
  cursor: pointer;
}
.send-message .modal-lg {
  width: 700px;
}

.send-icon i{
  font-size: 42px;
  margin-top: 20px;
}
.modal .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  position: relative;
}
.modal .close {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #333;
  opacity: 1;
  height: 40px;
  width: 40px;
  color: #FFF;
  font-size: 28px;
  line-height: 45px;
  outline: none;
  z-index: 10;
}
.modal .close:hover {
  background: #D84A3B;
}
.modal .close span {
  outline: none;
  top: -6px;
  position: relative;
}
.modal .modal-body {
  padding: 40px 60px;
}
.modal .member-info {
  padding: 0;
}
.modal input {
  height: 50px;
}
.modal input,
.modal textarea {
  padding: 10px 20px;
  border-radius: 0;
  font-size: 18px;
}
.modal input:focus,
.modal textarea:focus {
  border-color: #e74c3c;
  box-shadow: none;
}
.modal textarea {
  resize: none;
}
.modal .button {
  width: 100%;
  border-radius: 0;
  padding: 15px 60px;
}
.modal .button:hover {
 background: #D84A3B;
}
.form-control::-webkit-input-placeholder {
  color: #DBDBDB;
  font-style: italic;
}
.modal .form-list{
  margin-top: 35px;
}
/* ========================================================================
  2.16 Component: Footer
 ========================================================================== */
.footer p {
  color: #bababa;
  font-size: 16px;
}
.footer li {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background: #fff;
  transition: all .4s;
}
.footer li:hover {
  cursor: pointer;
}
.footer li a {
  color: #e5e5e5;
}
.footer .social i {
  font-size: 22px;
  transition: all .4s;
}
.footer .facebook:hover {
  border-color: #3b5998;
}
.footer .facebook:hover > a i {
  color: #3b5998;
}
.footer .twitter:hover {
  border-color: #00aced;
}
.footer .twitter:hover > a i {
  color: #00aced;
}
.footer .g-plus:hover {
  border-color: #dd4b39;
}
.footer .g-plus:hover > a i {
  color: #dd4b39;
}
.footer .linkedin:hover {
  border-color: #007bb6;
}
.footer .linkedin:hover > a i {
  color: #007bb6;
}
.footer .youtube:hover {
  border-color: #bb0000;
}
.footer .youtube:hover > a i {
  color: #bb0000;
}
.footer .instagram:hover {
  border-color: #517fa4;
}
.footer .instagram:hover > a i {
  color: #517fa4;
}
.footer .behance:hover {
  border-color: #1769ff;
}
.footer .behance:hover > a i {
  color: #1769ff;
}
.footer .dribbble:hover {
  border-color: #ea4c89;
}
.footer .dribbble:hover > a i {
  color: #ea4c89;
}
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background: #e74c3c;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  -webkit-animation: pulse 1s linear 0s infinite alternate;
  -moz-animation: pulse 1s linear 0s infinite alternate;
  -o-animation: pulse 1s linear 0s infinite alternate;
  animation: pulse 1s linear 0s infinite alternate;
}
.back-to-top:hover {
  background: #333;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
  }
  to {
    -moz-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}


/*send info*/
.error_message {
  display: none;
  color: #0098FE;
}